* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: white;
    color: #333;
}
 .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #f9ebdf;
}
.container .header{
    width: 100%;
    height: 30%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: white
}
.container .header img{
    width: 20%;
    height: 70%;
    margin-left: 40%;
}
.container .header .action-field{
    width: 100%;
    padding: 5px;
    margin: 20px auto;
    text-align: center;

}
.header .action-field a{
    width: 100%;
    margin: 28px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 510;
    transition: all ease-in 0.2s;
    padding: 6px 8px;
    
}
.header .action-field a:hover{
    color: rgb(226, 149, 6);
    border-bottom: 3px solid rgb(226, 149, 6);
}

.header-text {
    text-align: center;
    padding: 0px;
    background: white;
}

.header-text h1 {
    height: 100%;
    font-size: 120px;
    background: white;
    color: #1a56d6;
    font-weight: 1000;
    font-style: bold;
    font-family: 'Arial Black', sans-serif;
}
.contact h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    background:  #1a56d6;
    background-clip: text;
    color: transparent;
}
    .form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.form-field {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 50px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}

textarea {
    height: 80px;
}

.btn-submit {
    font-size: 20px;
    font-style: bold;
    background: #ff7a00;
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}
.cta {
    height: 300px;
    background: #ff6900;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    font-size: 35px;
}
.cta h2 {
    font-size: 60px;
    padding: 20px;
    font-style: bold;
    font-weight: 700;
    align-items: start;
    text-align: start;
    margin-left: 100px;
    
}
.cta p {
    font-size: 20px;
    padding: 20px;
    font-style: bold;
    font-weight: 700;
    align-items: start;
    text-align: start;
    margin-left: 100px;
}

.cta-button {
    background: #005ce6;
    color: white;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 35px;
    font-size: 18px;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
.locations {
    text-align: center;
    padding: 50px 100px;
}
.locations img {
    width: 800px;
    height: 500px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: 200px;
}

.location-list {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 30px;
    gap: 180px;
    margin-left: 200px;
    text-align: start;
}

.location h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
}
.location p {
    font-size: 14px;
        line-height: 1.6;
    color: black;
    font-size: 20px;
    text-align: start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container-footer .last-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1a56d6;
}
.container-footer h2{
    font-size: 150px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
}
.container-footer .input-field{
    width: 30%;
    height: 50px;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: white;
    background: white;
    border-radius: 30px;
}
.container-footer .input-field input{
    width: 55%;
    padding: 8px;
    border-radius: 25px;
    border: 2px solid transparent;
    font-size: 15px;
    color: white;
}
.container-footer .input-field button{
    padding: 8px 22px;
    background: rgb(248, 86, 27);
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    cursor: pointer;  
}
.container-footer .input-field button:active{
   scale: 0.9;
}
.container-footer .last-div p{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}